.dashboard{
    max-width: 326px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.dashboard header h3{
    padding: 9px;
}

.dashboard .content img{
    width: 34px;
    display: inline-block;
}

.dashboard footer{
    text-align: center;
}

.dashboard footer .average img{
    width: 51px;
}
.dashboard footer .average{
    width: 104px;
    margin: auto;
}

.dashboard .block{
    margin: 2px 3px;
    display: inline-block;
    padding: 15px 6px;
    border-radius: 7px;
}

.dashboard .center{
    text-align: center;
    margin-top: 30%;
}
.dashboard .center img{
    width: 30%;
}
.dashboard .restart{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2ea6e5;
    border-radius: 3px;
    color: #2ea6e5;
    background: none;
    padding: 9px 24px;
    display: inherit;
    margin-top: 60px;
}